{%- assign settings = section.settings -%}

<section
  class="collage {% if settings.enable_full_width %}full-width{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="collage"
>
  <div class="collage__grid collage__grid--{{ section.blocks.size }}">
    {%- for block in section.blocks -%}
      <div class="collage__block collage__block--{{ forloop.index }} borders-nfw">

        {%- if block.settings.image != blank -%}
          {% render 'image' with
            image: block.settings.image,
            disable_style: true
          %}
        {%- endif -%}

        {% if block.settings.video_url != blank %}
          <video class="collage__block-video" autoplay playsinline loop muted src="{{ block.settings.video_url }}"></video>
        {% endif %}

        <div class="collage__block-overlay">
          {% render 'block-overlay' with
            block: block,

            meta: block.settings.meta,
            heading: block.settings.title,
            subheading: block.settings.subheading,
            link: block.settings.link,
            link_text: block.settings.link_text,

            alignment: block.settings.alignment,
            max_width_content: block.settings.max_width_subheading,

            opacity: block.settings.opacity_overlay,
            color_background: settings.color_overlay,
            color_background_button: settings.color_background_button,
            color_heading: settings.color_heading,
            color_subheading: settings.color_subheading,
            color_text_button: settings.color_text_button
          %}
        </div>
      </div>
    {%- endfor -%}
  </div>

</section>

{% schema %}
  {
    "name": "Collage",
    "class": "grid-section collage-section",
    "max_blocks": 5,
    "settings": [
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay",
        "default": "#000000"
      },
      {
        "id": "color_heading",
        "type": "color",
        "label": "Heading",
        "default": "#ffffff"
      },
      {
        "id": "color_subheading",
        "type": "color",
        "label": "Subheading",
        "default": "#b8b8b8"
      },
      {
        "id": "color_background_button",
        "type": "color",
        "label": "Button background",
        "default": "#000000"
      },
      {
        "id": "color_text_button",
        "type": "color",
        "label": "Button text",
        "default": "#ffffff"
      },
      {
        "id": "enable_full_width",
        "type": "checkbox",
        "label": "Enable full width",
        "info": "If enabled this section will span the entire width of the window",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "Video link",
            "info": "Direct link to .mp4 video file. [Learn more here](https://fluorescent.co/help/ira/collage/#add-a-video-to-a-collage-section)."
          },
          {
            "id": "meta",
            "type": "text",
            "label": "Mini heading",
            "default": "Meta"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Heading",
            "default": "This is the Collage"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading",
            "default": "<p>Use this Section to promote a series of editorial images, or to divide space among a series of editorial images. Be careful not to add too much text.</p>"
          },
          {
            "id": "max_width_subheading",
            "type": "range",
            "label": "Text max width",
            "min": 12,
            "max": 46,
            "step": 2,
            "default": 28
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Button text"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "alignment",
            "type": "select",
            "label": "Text alignment",
            "options": [
              { "label": "Top left", "value": "left_top" },
              { "label": "Top center", "value": "center_top" },
              { "label": "Top right", "value": "right_top" },
              { "label": "Middle left", "value": "left_center" },
              { "label": "Middle center", "value": "center_center" },
              { "label": "Middle right", "value": "right_center" },
              { "label": "Bottom left", "value": "left_bottom" },
              { "label": "Bottom center", "value": "center_bottom" },
              { "label": "Bottom right", "value": "right_bottom" },
              { "label": "Split left", "value": "left_split" },
              { "label": "Split center", "value": "center_split" },
              { "label": "Split right", "value": "right_split" }
            ],
            "default": "left_center"
          },
          {
            "id": "opacity_overlay",
            "type": "range",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 60,
            "unit": "%"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collage",
        "category": "Image",
        "blocks": [
          {
            "type": "image",
            "settings": {
              "title": "This is the Collage",
              "subheading": "<p>Use this Section to promote a series of editorial images, or to divide space among a series of editorial images. Be careful not to add too much text.</p>",
              "link": "#",
              "link_text": "Shop the collection"
            }
          },
          {
            "type": "image",
            "settings": {
              "title": "This is the Collage",
              "subheading": "<p>Use this Section to promote a series of editorial images, or to divide space among a series of editorial images. Be careful not to add too much text.</p>",
              "link": "#",
              "link_text": "Shop the collection"
            }
          }
        ]
      }
    ]
  }
{% endschema %}

