<div class="mobile-carousel__pagination">
  <div class="mobile-carousel__pagination-arrow mobile-carousel__pagination-arrow--prev" data-prev>
    {% render 'slider-button' with icon: 'arrow_back' %}
  </div>
  <div class="mobile-carousel__pagination-arrow mobile-carousel__pagination-arrow--next" data-next>
    {% render 'slider-button' %}
  </div>
</div>