<div
  class="store-availability-modal"
  data-store-availability-modal
  aria-describedby="modal-title"
  aria-hidden="true"
  role="dialog"
>
  <div class="store-availability-modal__wash" data-store-availability-modal-wash></div>
  <div class="store-availability-modal__inner">
    <div class="store-availability-modal__header">
      <div class="store-availability-modal__product-info">
        <h4 id="modal-title" class="store-availability-modal__store-list-product-title ff-body">
          {{ 'store_availability.general.availability' | t }}
        </h4>
      </div>
    </div>
    <div class="store-availbility-modal__product fs-body-base" data-store-availability-product></div>

    <div class="store-availbility-modal__content" data-store-list-container></div>
  </div>
</div>

